body{
    background-color: rgb(184, 184, 184);
    font-family:'Times New Roman', Times, serif
}

.eventimage img {
  position: absolute;
  left: 300px; 
  top: 50%;
  transform: translateY(-50%);
  max-width: 1000px;
  height: 700px;
}

.head{
    align-content: center;
    text-align: center;
    justify-content: center;
   
}

.eventform{
    width: 600px;
    height: 610px;
    border-style: solid;
    border-color:  #ef6114;
    align-items: center;
    margin: auto;
    margin-top: 60px;
    margin-left: 700px;
    border-radius: 20px;
   
    transition: border 0.5s ease, box-shadow 0.5s ease;

}

.eventform:hover {
    border: 2px solid #ef6114; 
    box-shadow: 0 0 25px #ff7300f1; 
    /* background-color: rgb(255, 146, 38); */
}

.label{
    padding-left: 40px;
    
}

.emailinput{
    align-content: center;
    text-align: center;
    justify-content: center;
}

#button{
    align-content: center;
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    height: 40px;
    width: 100px;
    margin: 50px;
    margin-left: 270px;
    align-items: center;
}

#button:hover{
    background-color: #ff8543;
    border-color: #ef6114;
}

#imagegirl2{
   padding-left: 10px;
   margin-right: 900px;
  max-width: 1000px;
  height: 700px;
  position: absolute;
  top: 10%;
  
}

.radio{
    margin-left: 50px;
}
